#logo{
	font-size: 30px;
}
.menu {
    display: inline-block;
    padding: 20px 70px;
    margin: 5px;
    background-color: #f702ff;
    align-content: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.menu:hover {
    background-color: #00a2ff;
}
#lor{
	text-align: left;
}
#lor p{
	text-align: justify;
	font-family: arial;
	font-size: 14px;
	margin-left: 200px;
	width: 90%;
	padding: 5px 40px;
}
#login{
	display: inline-block;
	padding: 20px 80px;
	margin: 5px;
	background-color: #f702ff;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	color: white;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#id{
	align-content: right;
}
#Ingresar{
	font-family: arial;
	padding: 20px 68px;
	border:none;
	margin: 5px;
	background-color: #f702ff;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	color: white;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Ingresar:hover{
	background-color: #00a2ff;
}
#Usuario{
	width: 200px;
	margin: 2px;
	height: 40px;
}
#Password{
	width: 200px;
	margin: 2px;
	height: 40px;
	align-self: center;
}
section {
    display: flex;
}
#lor {
    flex: 1;
    text-align: left; 
    margin-right: 5px;
}
#der {
    width: 60%;

}
header{
	font-style: italic;
	padding: 20px 30px;
}
body{
	padding: 40px;
}
nav,
section,
footer {
    width: 80%;
    text-align: center;
}
footer{
	display: inline-block;
	color: white;
	background-color: #f702ff;
	padding: 15px 30px;
	margin-top: 100px;
	font-size: 22px;
	font-family: arial;
}
#alumno{
	display: inline-block;
	color: white;
	background-color: #12A4FF;
	padding: 10px 30px;
	margin-top: 10px;
	font-size: 20px;
	font-family: arial;
	font-style: italic;
}